<!DOCTYPE html>
<html>
  <head>
    <title> Anviam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <body class="sidebar-mini layout-fixed layout-navbar-fixed">
      <div class="wrapper">
        <%= render "base/header" %>
        <%= render "base/sidebar" %>
        <div class="content-wrapper main_content">
          <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0 text-dark">Introduction</h1>
            </div>
          </div>

          <div class="content">
            <div class="container-fluid">
              <%= yield %>
            </div>
          </div>
          </div>
         <%= render "base/footer"%>
        <%= render "base/control_sidebar" %>
      <div>
  </body>
</html>
